@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased;
  }
}

/* Custom Webkit scrollbar for premium aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full border-2 border-slate-800 hover:bg-slate-600;
}

/* Progress bar transitions */
.progress-bar-transition {
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
}
